/*====================================FONT-WEIGHTS====*/
.fw3 {font-weight: 300 !important;}
.fw4 {font-weight: 400 !important;}
.fw5 {font-weight: 500 !important;}
.fw6 {font-weight: 600 !important;}
.fw7 {font-weight: 700 !important;}
.fw8 {font-weight: 800 !important;}
.fw9 {font-weight: 900 !important;}
/*====================================FONT-ALIGNMENT===*/
.cntrTxt { margin: 0 auto; text-align: center;}
.lfTxt { text-align: left;}
.riTxt { text-align: right;}
/*========================MARGIN-TOPS==========*/
.m4 {margin-top: 4px;}
.m6 {margin-top: 6px;}
.m8 {margin-top: 8px;}
.m10 {margin-top: 10px;}
.m12 {margin-top: 12px;}
.m14 {margin-top: 14px;}
.m16 {margin-top: 16px;}
.m18 {margin-top: 18px;}
.m20 {margin-top: 20px;}
.m22 {margin-top: 22px;}
.m24 {margin-top: 24px;}
/*=================================================XS==*/
@media screen and (max-width: 450px) {
  .fsXS12{font-size: 12px !important;}
  .fsXS14{font-size: 14px !important;}
  .fsXS16{font-size: 16px !important;}
  .fsXS18{font-size: 18px !important;}
  .fsXS20{font-size: 20px !important;}
  .fsXS22{font-size: 22px !important;}
  .fsXS24{font-size: 24px !important;}
  .fsXS26{font-size: 26px !important;}
  .fsXS28{font-size: 28px !important;}
  .fsXS30{font-size: 30px !important;}
}
/*=================================================SM==*/
@media screen and (max-width: 767px) {
  .fsSM12{font-size: 12px !important;}
  .fsSM14{font-size: 14px !important;}
  .fsSM16{font-size: 16px !important;}
  .fsSM18{font-size: 18px !important;}
  .fsSM20{font-size: 20px !important;}
  .fsSM22{font-size: 22px !important;}
  .fsSM24{font-size: 24px !important;}
  .fsSM26{font-size: 26px !important;}
  .fsSM28{font-size: 28px !important;}
  .fsSM30{font-size: 30px !important;}
}
/*================================================MD==*/
@media (min-width: 768px) and (max-width: 991px) {
  .fsMD12{font-size: 12px !important;}
  .fsMD14{font-size: 14px !important;}
  .fsMD16{font-size: 16px !important;}
  .fsMD18{font-size: 18px !important;}
  .fsMD20{font-size: 20px !important;}
  .fsMD22{font-size: 22px !important;}
  .fsMD24{font-size: 24px !important;}
  .fsMD26{font-size: 26px !important;}
  .fsMD28{font-size: 28px !important;}
  .fsMD30{font-size: 30px !important;}
}
/*================================================LG==*/
@media (min-width: 992px) and (max-width: 1199px) {
  .fsLG12{font-size: 12px !important;}
  .fsLG14{font-size: 14px !important;}
  .fsLG16{font-size: 16px !important;}
  .fsLG18{font-size: 18px !important;}
  .fsLG20{font-size: 20px !important;}
  .fsLG22{font-size: 22px !important;}
  .fsLG24{font-size: 24px !important;}
  .fsLG26{font-size: 26px !important;}
  .fsLG28{font-size: 28px !important;}
  .fsLG30{font-size: 30px !important;}
}
/*================================================XL==*/
@media (min-width: 1199px) {
  .fsXL12{font-size: 12px !important;}
  .fsXL14{font-size: 14px !important;}
  .fsXL16{font-size: 16px !important;}
  .fsXL18{font-size: 18px !important;}
  .fsXL20{font-size: 20px !important;}
  .fsXL22{font-size: 22px !important;}
  .fsXL24{font-size: 24px !important;}
  .fsXL26{font-size: 26px !important;}
  .fsXL28{font-size: 28px !important;}
  .fsXL30{font-size: 30px !important;}
}


